*{
    font-family: monospace; 
}
html{
    font-size: 22px;
}

p{
    color: purple;
}
h1,h2{
    color: blue;
}
.gray{
    color: gray;
}
#second{
    font-size: 22px;
    border: 2px solid black;
}
.high{
    text-transform: uppercase;
    background-color: gold;
}
