<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-layout">
       <aside class="sidebar">
        <h2>SideBar</h2>
        <ul>
        <li><a class="links" href="#">Home</a></li>
        <li><a class="links" href="#">About</a></li>
        <li><a class="links" href="#">Contact</a></li>
        </ul>
    </aside>
    <header class="header">
        <h1>Header</h1>
        <div>user info</div>
    </header>
    <main class="main">
        <h2>Main Content</h2>
        <p>This is the main content area where your page content goes.</p>
      </main>
  
      <footer class="footer">
        &copy; 2025 Your Company
      </footer>
    </div>
</body>
</html>