*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.box{
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 5px solid blue;
    margin: 30px;
    box-sizing: border-box;
    background-color: yellowgreen;
}

.block{
    display: block;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 5px solid red;
    margin: 30px;
    background-color: lightblue;
}

.inline{
    display: inline;
    padding: 20px;
    border: 2px solid green;
    background-color: lightgreen;
}

.inline-block {
    display: inline-block;
    width: 150px;
    height: 80px;
    padding: 10px;
    border: 2px solid purple;
    background-color: lavender;
    margin: 10px;
  }

.task{
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    border: 5px solid blue;
    background-color: yellow;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    background: blue;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-content: center;
    align-items: center
}

.box-1 {
    padding: 20px;
    margin: 10px;
    background: lightblue;
    border: 1px solid #000;
    align-self: flex-start;
    flex-grow: 1;
    flex: 1;
}

.box-2{
    padding: 20px;
    margin: 10px;
    background: lightblue;
    border: 1px solid #000;
    align-self: flex-end;
    flex-shrink: 1;
    flex: 2 1 200px;
}

.box-3{
    padding: 20px;
    margin: 10px;
    background: lightblue;
    border: 1px solid #000;
    align-self: center;
    flex-grow: 2;
    flex-basis: 100px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 10px;
    background-color: green;
}

.grid-container div:nth-child(1) {
    grid-column: span 2;
    background-color: coral;
    padding: 20px;
    border: 2px solid #000;
}

.grid-container div{
    background-color: lightblue;
    padding: 20px;
    border: 2px solid #000;
}

.grid2-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    background-color: green;
    padding: 10px;
  }
  
  .item {
    background-color: lightblue;
    padding: 20px;
    border: 2px solid #000;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3; /* spans 2 columns */
  }
  
  .item2 {
    grid-column: 3 / 5; /* shorthand for start/end */
    grid-column: 1 / 5;
  }
  
  .item3 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    grid-row-end: 4;
  }
  
  